<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>电话链助手</title>

</head>

<body>


<div class="pure-g-r" id="layout" style="letter-spacing:0">


    {% include "menu.html" %}


    <div id="right">

        <div class="header">
            <h1>获取数据</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px" >
            <p>请将要导入的数据放入 data 文件夹中，然后开始获取</p>
            <a class="pure-button pure-button-primary" href="/get_data">开始获取</a>
        </div>

        <div style="clear: both; height: 200px"/>

    </div>


</div>


<script type="text/javascript">
    $(function(){
        $("#index").addClass("pure-menu-selected")
    })
    alert("此为测试版软件 数据展示时会有 * 号隐藏部分号码")
</script>

</body>

</html>
