

<link rel="stylesheet" href="/static/css/pure-min.css">
<link rel="stylesheet" href="/static/css/baby-blue.css">
<link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
<script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
    $(function(){
        //表格显示
        $("#myTable").tablesorter({
            widgets: ['zebra']
        })
    })
</script>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">

        <a class="pure-menu-heading" href="/" >电话链助手</a>

        <ul>

            <li id="index" >
                <a href="/index">获取数据</a>
            </li>


        </ul>
    </div>
</div>


