<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>电话链助手</title>

    <script type="text/javascript">
        $(function(){
            $("#index").addClass("pure-menu-selected")
        })
    </script>
</head>

<body>


<div class="pure-g-r" id="layout" style="letter-spacing:0">


    {% include "menu.html" %}


    <div id="right">

        <div class="header">
            <h1>获取数据</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px" >
            <table id="myTable" class="tablesorter">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>订单号</th>
                    <th>姓名</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for r in rs %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.sn }}</td>
                        <td>{{ r.name }}</td>
                        <td>{{ r.address }}</td>
                        <td>{{ r.phone }}</td>
                        <td>{{ r.status_name }}</td>
                        <td>
                            <a href="/del_order/?id={{ r.id }}" onclick="return confirm('确定要删除？')">删除</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/check_order/?id={{ r.id }}" onclick="return confirm('确定要{{ r.next_step }}？')">{{ r.next_step }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <br/>
            <br/>
            <br/>
            <br/>


        </div>

        <div style="clear: both; height: 200px"/>

    </div>


</div>



</body>

</html>
